<!-- NavBar wasa -->
<header
  class="fixed top-0 left-0 w-full bg-white/10 backdrop-blur-md z-50 shadow text-white"
>
  <nav class="max-w-6xl mx-auto flex justify-between items-center px-4 py-3">
    <a
      href="#inicio"
      class="text-lg font-bold hover:text-green-700 transition shadow-xl/10 shadow-green-400"
      >G8:GANs</a
    >
    <ul class="flex gap-6 text-sm">
      <li>
        <a
          href="#introduccion"
          class="hover:text-green-700 transition shadow-xl/40 shadow-green-400"
          >Introducción</a
        >
      </li>
      <li>
        <a
          href="#arquitectura"
          class="hover:text-green-700 transition shadow-xl/40 shadow-green-400"
          >Arquitectura</a
        >
      </li>
      <li>
        <a
          href="#entrenamiento"
          class="hover:text-green-700 transition shadow-xl/40 shadow-green-400"
          >Entrenamiento</a
        >
      </li>
      <li>
        <a
          href="#aplicaciones"
          class="hover:text-green-700 transition shadow-xl/40 shadow-green-400"
          >Aplicaciones</a
        >
      </li>
      <li>
        <a
          href="#ventajas"
          class="hover:text-green-700 transition shadow-xl/40 shadow-green-400"
          >Ventajas</a
        >
      </li>
      <li>
        <a
          href="#desafios"
          class="hover:text-green-700 transition shadow-xl/40 shadow-green-400"
          >Desafíos</a
        >
      </li>
      <li>
        <a
          href="#ejemplo"
          class="hover:text-green-700 transition shadow-xl/40 shadow-green-400"
          >Ejemplo</a
        >
      </li>
    </ul>
  </nav>
</header>

<div
  class="min-h-screen bg-gradient-to-r from-green-500 to-cyan-500 text-white"
>
  <!-- Hardcore :b Section -->
  <section class="text-center py-20 px-4" [@fadeIn] id="inicio">
    <div class="flex flex-col items-center justify-center space-y-4">
      <!-- Ícono animado -->
      <ng-icon
        name="heroCpuChip"
        size="48"
        class="animate-bounce text-white"
      ></ng-icon>

      <h1 class="text-4xl font-bold">Redes Generativas Adversarias (GANs)</h1>
      <p class="text-lg max-w-xl">
        Explorando el corazón creativo de la inteligencia artificial
      </p>

      <a
        class="inline-flex items-center gap-2 bg-white text-green-600 px-6 py-2 rounded-full shadow hover:bg-green-100 transition"
      >
        ¡Explora los conceptos!
        <ng-icon
          name="heroArrowDown"
          size="18"
          class="text-green-600"
        ></ng-icon>
      </a>
      <!-- Diseño Imagen WASA -->
      <div
        class="relative mt-6 max-w-md w-full md:max-w-5xl mx-auto px-4 z-0 group"
      >
        <!-- Sombra -->
        <div
          class="absolute -inset-2 bg-black/50 rounded-xl blur-lg z-0 transition-opacity duration-500 group-hover:opacity-30"
        ></div>
        <div
          class="relative rounded-xl overflow-hidden shadow-xl border border-white/30 transform transition-all duration-500 group-hover:scale-105 group-hover:shadow-md"
        >
          <img
            src="https://github.com/SexAtTheTerminal/mis-imagenes/blob/main/redes-generativas-adversarias-poder.jpg?raw=true"
            alt="Redes Generativas Adversarias"
            loading="lazy"
            class="w-full object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Adjunto el PPTX? no se xdxd -->
<div class="w-full m-0">
  <!-- Introducción -->
  <section
    id="introduccion"
    class="bg-green-50 min-h-screen flex items-center px-4 rounded-xl fade-in-on-scroll"
  >
    <div
      class="grid md:grid-cols-2 gap-16 items-center w-full max-w-6xl mx-auto"
    >
      <div
        class="grid grid-flow-row auto-rows-max g-white text-green-700 shadow-lg rounded-2xl p-8 space-y-4 transform hover:scale-[1.02] transition duration-500"
      >
        <ng-icon
          name="heroCubeTransparent"
          size="48"
          class="animate-bounce place-self-end"
        ></ng-icon>
        <h2 class="text-2xl font-bold text-green-700">Introducción</h2>
        <h3 class="text-xl font-semibold text-green-600">¿Qué son las GANs?</h3>
        <p class="text-gray-700 text-justify text-lg leading-relaxed">
          Las redes adversas generativas (GAN) son una arquitectura de
          aprendizaje profunda innovadora, que ha ganado mucha atención en los
          últimos años debido a su capacidad para generar datos sintéticos
          altamente realistas, que son difíciles de distinguir de los datos
          reales. A diferencia de otros enfoques de aprendizaje automático que
          se centran en el reconocimiento de patrones o clasificación, las redes
          generativas se enfocan en la creación de nuevos datos. Las GAN fueron
          presentadas en 2014 por Ian Goodfellow y sus colegas, y constan de dos
          modelos de redes neuronales: el generador y el discriminador.
        </p>
      </div>

      <div class="relative group">
        <div
          class="absolute -inset-2 bg-green-200 rounded-xl blur-xl opacity-60 group-hover:opacity-30 transition-opacity duration-500"
        ></div>
        <div
          class="relative bg-white shadow-xl rounded-2xl p-2 transform transition duration-500 group-hover:scale-105"
        >
          <img
            src="https://github.com/SexAtTheTerminal/mis-imagenes/blob/main/AI.png?raw=true"
            alt="GAN Introduction"
            class="w-full h-full object-contain rounded-xl hover:animate-pulse"
          />
        </div>
      </div>
    </div>
  </section>

  <section
    id="arquitectura"
    class="bg-cyan-50 flex px-4 py-16 min-h-screen fade-in-on-scroll"
  >
    <div
      class="bg-cyan-100 text-cyan-700 rounded-xl p-6 shadow-inner h-auto place-self-center grow"
    >
      <div class="flex items-center gap-4 place-self-center mb-10">
        <h3 class="text-3xl font-bold text-cyan-700 text-center">
          Arquitectura de una GAN
        </h3>
        <ng-icon
          name="heroPuzzlePiece"
          size="40"
          class="animate-bounce"
        ></ng-icon>
      </div>
      <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
        <div
          class="grid grid-flow-row auto-rows-max bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition text-cyan-700"
        >
          <ng-icon
            name="heroVariable"
            size="24"
            class="place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-cyan-700 mb-1">Vector Ruido</h4>
          <p class="text-gray-700 text-justify">
            Vector ruido o comúmente llamado vector aleatorio en un espacio
            latente. Se genera a través de una función de distribución
            (comúnmente una distribución N∼(0,1)) y sirve como una entrada para
            la red generadora. Dicho vector pasará por capas, pesos y
            activaciones para convertirse en una imagen de (“X” x “Y”) píxeles.
          </p>
        </div>
        <div
          class="grid grid-flow-row auto-rows-max bg-white text-cyan-700 shadow-md rounded-xl p-6 hover:shadow-lg transition h-full min-h-[380px]"
        >
          <ng-icon
            name="heroViewfinderCircle"
            size="24"
            class="place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-cyan-700 mb-1">Dataset Real</h4>
          <p class="text-gray-700 text-justify">
            El dataset real se utiliza durante el entrenamiento en mini-batches,
            no todo de una vez. En cada iteración, se toma un lote de imágenes
            reales del dataset y se compara con otro lote de imágenes falsas
            generadas por el generador a partir de vectores de ruido. Este
            enfoque por lotes es eficiente, permite usar descenso de gradiente
            mini-batch y mejora la estabilidad del entrenamiento.
          </p>
        </div>
        <div
          class="grid grid-flow-row auto-rows-max bg-white text-cyan-700 shadow-md rounded-xl p-6 hover:shadow-lg transition h-full min-h-[380px]"
        >
          <ng-icon
            name="heroFunnel"
            size="24"
            class="place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-cyan-700 mb-1">
            Red Generadora
          </h4>
          <p class="text-gray-700 text-justify">
            Red neuronal que genera nuevos datos a partir del vector ruido. Su
            objetivo es crear ejemplos tan realistas que engañen al
            discriminador.
          </p>
          <div class="mt-2 grid grid-cols-2 gap-2">
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa Densa</span
            >
            <ng-icon
              name="heroArrowDown"
              size="10"
              class="text-cyan-700 place-self-center hover:animate-pulse col-span-2"
            ></ng-icon>
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa De Activación No Lineal</span
            >
            <ng-icon
              name="heroArrowDown"
              size="10"
              class="text-cyan-700 place-self-center hover:animate-pulse col-span-2"
            ></ng-icon>
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa De Normalización</span
            >
            <ng-icon
              name="heroArrowDown"
              size="10"
              class="text-cyan-700 place-self-center hover:animate-pulse col-span-2"
            ></ng-icon>
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa de Activación de Salida</span
            >
            <ng-icon
              name="heroArrowDown"
              size="10"
              class="text-cyan-700 place-self-center hover:animate-pulse col-span-2"
            ></ng-icon>
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa Reshape</span
            >
          </div>
        </div>
        <div
          class="grid grid-flow-row auto-rows-max bg-white text-cyan-700 shadow-md rounded-xl p-6 hover:shadow-lg transition h-full min-h-[380px]"
        >
          <ng-icon
            name="heroCog6Tooth"
            size="24"
            class="place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-cyan-700 mb-1">
            Red Discriminadora
          </h4>
          <p class="text-gray-700 text-justify">
            Red neuronal que se encarga de clasificar si un dato es real o
            generado. Aprende a detectar qué ejemplos provienen del dataset real
            y cuáles son falsos.
          </p>
          <div class="mt-2 grid grid-cols-2 gap-2">
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa Flatter</span
            >
            <ng-icon
              name="heroArrowDown"
              size="10"
              class="text-cyan-700 place-self-center hover:animate-pulse col-span-2"
            ></ng-icon>
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa Densa</span
            >
            <ng-icon
              name="heroArrowDown"
              size="10"
              class="text-cyan-700 place-self-center hover:animate-pulse col-span-2"
            ></ng-icon>
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa De Activación No Lineal</span
            >
            <ng-icon
              name="heroArrowDown"
              size="10"
              class="text-cyan-700 place-self-center hover:animate-pulse col-span-2"
            ></ng-icon>
            <span
              class="bg-cyan-100 text-cyan-800 px-3 py-1 rounded-full text-sm font-medium text-center col-span-2"
              >Capa de Salida</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Entrenamiento -->
  <section
    id="entrenamiento"
    class="bg-green-50 min-h-screen px-4 py-16 rounded-xl flex flex-col"
  >
    <div class="text-3xl font-bold mb-8 text-green-700 text-center pt-10">
      <ng-icon
        name="heroAcademicCap"
        size="48"
        class="animate-bounce text-white"
      ></ng-icon>
      <h3>Proceso de Entrenamiento</h3>
    </div>
    <div
      class="bg-green-100 rounded-xl p-6 shadow-inner h-auto place-self-center grow"
    >
      <div class="flex flex-wrap justify-between w-full">
        <div
          class="grid grid-flow-row auto-rows-max bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition w-[18%] min-w-[250px]"
        >
          <ng-icon
            name="heroComputerDesktopSolid"
            size="24"
            class="text-cyan-700 place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-green-700 mb-1">
            Inicialización
          </h4>
          <p class="text-gray-700 text-justify">
            Se inicia con la construcción de dos redes neuronales profundas: el
            Generador (G) y el Discriminador (D). Ambas redes parten con pesos
            aleatorios y sin conocimiento previo del dominio, estableciendo así
            la base para su entrenamiento conjunto.
          </p>
        </div>
        <!-- Flecha -->
        <ng-icon
          name="heroArrowRightSolid"
          size="15"
          class="text-green-700 self-center hidden lg:block"
        ></ng-icon>
        <div
          class="grid grid-flow-row auto-rows-max bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition w-[18%] min-w-[250px]"
        >
          <ng-icon
            name="heroCircleStackSolid"
            size="24"
            class="text-cyan-700 place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-green-700 mb-1">
            El generador crea datos sintético
          </h4>
          <p class="text-gray-700 text-justify">
            El Generador toma como entrada un vector de ruido aleatorio, como
            100 valores con distribución normal, y lo transforma, a través de su
            red, en una muestra sintética como una imagen, audio o texto. Al
            inicio, estas salidas carecen de coherencia, pero con el
            entrenamiento, el Generador aprende a producir datos cada vez más
            similares a los reales observados por el Discriminador pese a estar
            generadas desde ruido.
          </p>
        </div>
        <ng-icon
          name="heroArrowRightSolid"
          size="15"
          class="text-green-700 self-center hidden lg:block"
        ></ng-icon>
        <div
          class="grid grid-flow-row auto-rows-max bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition w-[18%] min-w-[250px]"
        >
          <ng-icon
            name="heroChartPieSolid"
            size="24"
            class="text-cyan-700 place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-green-700 mb-1">
            El discriminador analiza los datos
          </h4>
          <p class="text-gray-700 text-justify">
            El Discriminador funciona como un evaluador binario que recibe tanto
            datos reales del conjunto de entrenamiento como datos sintéticos
            generados por el Generador. Su objetivo es clasificarlos
            correctamente, asignando una probabilidad alta (cercana a 1) si
            considera que el dato es real, y baja (cercana a 0) si lo percibe
            como falso
          </p>
        </div>
        <ng-icon
          name="heroArrowRightSolid"
          size="15"
          class="text-green-700 self-center hidden lg:block"
        ></ng-icon>
        <div
          class="grid grid-flow-row auto-rows-max bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition w-[18%] min-w-[250px]"
        >
          <ng-icon
            name="heroStrikethroughSolid"
            size="24"
            class="text-cyan-700 place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-green-700 mb-1">
            Obtención de funciones de pérdida
          </h4>
          <p class="text-gray-700 text-justify">
            Las funciones de pérdida se obtienen evaluando las salidas del
            Discriminador (clasificación binaria). A partir de estos valores se
            calcula la pérdida del Discriminador (LD), que mide su capacidad
            para distinguir correctamente entre ambas clases. Por su parte, la
            pérdida del Generador (LG) se calcula considerando qué tan cerca
            estuvo de lograr que el Discriminador clasificara sus salidas falsas
            como reales, es decir, que asignara valores cercanos a 1 a datos
            generados. Estas funciones permiten cuantificar el desempeño de cada
            red en cada iteración del entrenamiento.
          </p>
        </div>
        <ng-icon
          name="heroArrowRightSolid"
          size="15"
          class="text-green-700 self-center hidden lg:block"
        ></ng-icon>
        <div
          class="grid grid-flow-row auto-rows-max bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition w-[18%] min-w-[250px]"
        >
          <ng-icon
            name="heroArrowPathRoundedSquareSolid"
            size="24"
            class="text-cyan-700 place-self-end mb-1 hover:animate-pulse"
          ></ng-icon>
          <h4 class="text-lg font-semibold text-green-700 mb-1">
            Optimización mediante retropropagación
          </h4>
          <p class="text-gray-700 text-justify">
            Una vez obtenidas las funciones de pérdida, se utiliza
            retropropagación del error junto con algoritmos de optimización como
            el descenso del gradiente estocástico (SGD) para ajustar los pesos
            internos de ambas redes. El Generador modifica sus parámetros para
            generar datos más convincentes, mientras que el Discriminador
            refuerza su capacidad para identificar falsificaciones. Este proceso
            se repite a lo largo de múltiples épocas, permitiendo que ambas
            redes mejoren progresivamente y de forma conjunta.
          </p>
        </div>
      </div>
      <div
        class="grid col-span-5 auto-rows-max bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition mt-6"
      >
        <ng-icon
          name="heroCheckBadgeSolid"
          size="24"
          class="text-cyan-700 place-self-center mb-1 hover:animate-pulse"
        ></ng-icon>
        <p class="text-gray-700 text-center">
          Una GAN se considera que "ya sirve" o ha alcanzado un buen punto de
          convergencia cuando el discriminador tiene una precisión cercana al
          50%, lo que indica que no puede diferenciar con certeza entre datos
          reales y generados.
        </p>
      </div>
    </div>
  </section>

  <!-- Aplicaciones -->
  <section
    id="aplicaciones"
    class="bg-cyan-50 min-h-screen py-16 px-4 rounded-xl"
  >
    <div
      class="text-3xl flex font-bold mb-10 text-cyan-700 mt-20 text-center justify-center items-center fade-in-on-scroll"
    >
      <h3>Aplicaciones</h3>
      <ng-icon
        name="heroRocketLaunch"
        size="48"
        class="animate-bounce text-white ml-3"
      ></ng-icon>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 max-w-7xl mx-auto mt-20"
    >
      <div
        class="bg-white rounded-xl shadow-md p-6 flex flex-col items-center hover:shadow-lg transition"
      >
        <img
          src="https://github.com/SexAtTheTerminal/mis-imagenes/blob/main/GI1.png?raw=true"
          alt="Creación de arte"
          class="w-full h-64 object-cover rounded-md mb-4"
        />
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          Creación de arte
        </h4>
      </div>
      <div
        class="bg-white rounded-xl shadow-md p-6 flex flex-col items-center hover:shadow-lg transition"
      >
        <img
          src="https://github.com/SexAtTheTerminal/mis-imagenes/blob/main/PE1.png?raw=true"
          alt="Pintura Extendida antes"
          class="w-full h-40 object-cover rounded-md mb-2"
        />
        <ng-icon
          name="heroArrowDownCircleSolid"
          size="24"
          class="text-cyan-700 mb-2"
        ></ng-icon>
        <img
          src="https://github.com/SexAtTheTerminal/mis-imagenes/blob/main/PE2.png?raw=true"
          alt="Pintura Extendida después"
          class="w-full h-40 object-cover rounded-md mb-4"
        />
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          Pintura Extendida
        </h4>
      </div>
      <div
        class="bg-white rounded-xl shadow-md p-6 flex flex-col items-center hover:shadow-lg transition col-span-2"
      >
        <img
          src="https://github.com/SexAtTheTerminal/mis-imagenes/blob/main/IP1.png?raw=true"
          alt="Inpainting"
          class="w-full h-80 object-cover rounded-md mb-4"
        />
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">Inpainting</h4>
      </div>
    </div>
  </section>

  <!-- Ventajas -->
  <section
    id="ventajas"
    class="bg-green-50 min-h-screen px-4 py-16 rounded-xl flex flex-col justify-center"
  >
    <div class="text-3xl font-bold mb-8 text-green-700 text-center mb-25">
      <ng-icon
        name="heroChevronDoubleUp"
        size="48"
        class="animate-bounce text-white"
      >
      </ng-icon>
      <h3>Ventajas</h3>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-3 gap-10 max-w-7xl mx-auto w-full items-center"
    >
      <div class="lg:col-span-2 grid md:grid-cols-2 gap-8 ml-4">
        <div
          class="bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition h-full fade-in-on-scroll"
        >
          <h4 class="text-lg font-semibold text-green-700 mb-2">
            Generación realista de datos
          </h4>
          <p class="text-gray-700 text-justify">
            Las GANs pueden generar imágenes, textos o sonidos sintéticos que se
            asemejan mucho a datos reales
          </p>
        </div>
        <div
          class="bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition h-full fade-in-on-scroll"
        >
          <h4 class="text-lg font-semibold text-green-700 mb-2">
            No requieren etiquetado
          </h4>
          <p class="text-gray-700 text-justify">
            Solo necesitan datos reales sin necesidad de etiquetas (aprendizaje
            no supervisado)
          </p>
        </div>
        <div
          class="bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition h-full fade-in-on-scroll"
        >
          <h4 class="text-lg font-semibold text-green-700 mb-2">
            Aplicables a múltiples dominios
          </h4>
          <p class="text-gray-700 text-justify">
            Se usan en imágenes, audio, texto, videojuegos, arte y más. Las
            personas pueden experimentar con ideas innovadoras y plasmarlas
            antes de invertir tiempo y recursos en la producción física
          </p>
        </div>
        <div
          class="bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition h-full fade-in-on-scroll"
        >
          <h4 class="text-lg font-semibold text-green-700 mb-2">
            Capacidad de aprender distribuciones complejas
          </h4>
          <p class="text-gray-700 text-justify">
            Las GANs pueden modelar distribuciones de datos muy complejas y de
            alta dimensión
          </p>
        </div>
      </div>
      <div class="relative group fade-in-on-scroll">
        <div
          class="absolute -inset-2 bg-green-200 rounded-xl blur-xl opacity-60 group-hover:opacity-30 transition-opacity duration-500"
        ></div>
        <div
          class="relative bg-white shadow-xl rounded-2xl p-2 transform transition duration-500 group-hover:scale-105"
        >
          <img
            src="https://github.com/SexAtTheTerminal/mis-imagenes/blob/main/AI2.png?raw=true"
            alt="Ventajas GAN"
            class="w-full h-full object-contain rounded-xl"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Desafíos -->
  <section id="desafios" class="bg-cyan-50 min-h-screen py-16 px-6 rounded-xl">
    <div class="flex items-center gap-4 justify-center mb-10 mt-20">
      <h3 class="text-3xl font-bold text-cyan-700">Desafíos y Limitaciones</h3>
      <ng-icon
        name="heroShieldExclamation"
        size="40"
        class="text-cyan-600"
      ></ng-icon>
    </div>
    <div class="grid md:grid-cols-3 gap-6 max-w-7xl mx-auto fade-in-on-scroll">
      <div
        class="bg-white shadow-md rounded-xl p-6 hover:shadow-xl transition duration-300"
      >
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          Dificultad de entrenamiento
        </h4>
        <p class="text-gray-700 text-justify">
          El entrenamiento de las GAN puede ser inestable y requiere una
          cuidadosa selección de hiperparámetros
        </p>
      </div>
      <div
        class="bg-white shadow-md rounded-xl p-6 hover:shadow-xl transition duration-300"
      >
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">Modo colapso</h4>
        <p class="text-gray-700 text-justify">
          En algunos casos, el generador puede converger a un modo de colapso,
          donde genera datos que son muy similares entre sí
        </p>
      </div>
      <div
        class="bg-white shadow-md rounded-xl p-6 hover:shadow-xl transition duration-300"
      >
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          Evaluación de la calidad de las muestras generadas
        </h4>
        <p class="text-gray-700 text-justify">
          No hay una métrica única y objetiva que mida cuán “bueno” es un
          generador
        </p>
      </div>
      <div
        class="bg-white shadow-md rounded-xl p-6 hover:shadow-xl transition duration-300"
      >
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          Interpretabilidad
        </h4>
        <p class="text-gray-700 text-justify">
          Puede ser difícil entender por qué las GAN están generando ciertos
          tipos de datos
        </p>
      </div>
      <div
        class="bg-white shadow-md rounded-xl p-6 hover:shadow-xl transition duration-300"
      >
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          No garantizan diversidad
        </h4>
        <p class="text-gray-700 text-justify">
          Aunque producen ejemplos realistas, pueden no representar toda la
          variedad de los datos reales
        </p>
      </div>
      <div
        class="bg-white shadow-md rounded-xl p-6 hover:shadow-xl transition duration-300"
      >
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          Costo computacional elevado
        </h4>
        <p class="text-gray-700 text-justify">
          Entrenar GANs profundas requiere GPUs potentes y muchos recursos
        </p>
      </div>
      <div
        class="bg-white shadow-md rounded-xl p-6 hover:shadow-xl transition duration-300 md:col-span-3 grid place-items-center"
      >
        <h4 class="text-lg font-semibold text-cyan-700 mb-2">
          Complejidad en la implementación
        </h4>
        <p class="text-gray-700 text-justify">
          Diseñar y ajustar una GAN adecuada puede requerir mucha
          experimentación y experiencia previa.
        </p>
      </div>
    </div>
  </section>

  <!-- Ejemplo práctico -->
  <section
    id="ejemplo"
    class="bg-green-50 min-h-screen flex flex-col justify-center px-4 rounded-xl fade-in-on-scroll"
  >
    <div
      class="text-3xl font-bold flex flex-col justify-center mb-12 text-green-700 text-center"
    >
      <h3>Ejemplo práctico</h3>
    </div>
    <div class="relative flex justify-center items-center">
      <div
        class="absolute left-[48%] top-18 transform -translate-y-1/2 -translate-x-full flex flex-col items-center space-y-1"
      >
        <ng-icon
          name="heroArrowRight"
          size="36"
          class="text-green-600 rotate-[315deg]"
        ></ng-icon>
      </div>
      <a
        href="https://colab.research.google.com/drive/1Vpk2PcLqqs-RvZMGoKdAo8FHGVykKCHq?usp=sharing"
        target="_blank"
        rel="noopener noreferrer"
        class="z-10"
      >
        <ng-icon
          name="heroCommandLine"
          size="60"
          class="animate-bounce text-green-600"
        ></ng-icon>
      </a>
      <div
        class="absolute right-[48%] top-18 transform -translate-y-1/2 translate-x-full flex flex-col items-center space-y-1"
      >
        <ng-icon
          name="heroArrowLeft"
          size="36"
          class="text-green-600 rotate-[45deg]"
        ></ng-icon>
      </div>
    </div>
  </section>
</div>
